.menu {
    list-style: none;
    padding: 0;
    background: aquamarine;
    width: 90%;
    max-width: 1000px;
    margin:auto; 
    
}
.menu li a {
    text-decoration: none;
    color:black; 
    padding: 20px;
    display: block;
}
.menu li {
    display: inline-block;  /** Pone los elementos de la lista uno al lado del otro */
    text-align: center;
}
.menu li a:hover {
    background: mediumseagreen;     /** Paso mouse por arriba y cambia el color */
}
.acaEstoy {
    background-color: mediumseagreen;
}
